<%- include("./partials/header.ejs") %>

<h1><%=homeContent.title%></h1>
<p><%= homeContent.body %></p>

<% posts.forEach(element => { %>
<h1><%=element.title.substring(0,100) %></h1>

<p>
  <%= element.body.substring(0,100) %>
  <a href="/posts/<%=element.id%>"> Read More</a>
</p>
<% })%> <%- include("./partials/footer.ejs") %>
