<%- include("./partials/header.ejs") %>

<h1>Home</h1>
<p><%= startingContent %></p>

<% posts.forEach(element => { %>
<h1><%=element.title%></h1>

<p><%= element.body.substring(0,100) + " ..." %></p>
<a href="/posts/<%=element.title%>"> Read More ...</a>
<% })%> <%- include("./partials/footer.ejs") %>
